<!DOCTYPE html>
<html>
<head></head>

<form method = "post" action = "p_login">
	<input type = "text" name = "un" required>
	<input type = "password" name = "pw" required>
	<input type = "submit" value = "Submit">
</form>

</html>
