


<form method='post' action="records">
  <input type="text" name = "r[]" value="first">
  <input type='text' name = 'r[]' value="last">
  <input type='text' name = 'r[]' value="street">
  <input type='text' name = 'r[]' value='city'>
  <input type='text' name = 'r[]' value="state">
  <input type='text' name = 'r[]' value='zip'>
  <input type='text' name = 'r[]' value='phone'>
  <input type='submit'>
</form>
