


<form method='post' action="records">
  <input type="text" name = "r[]" placeholder="First">
  <input type='text' name = 'r[]' placeholder="Last">
  <input type='text' name = 'r[]' placeholder="Street" >
  <input type='text' name = 'r[]' placeholder="City">
  <input type='text' name = 'r[]' placeholder="State">
  <input type='text' name = 'r[]' placeholder="Zip">
  <input type='text' name = 'r[]' placeholder="Phone">
  <input type='submit'>
</form>
