


<form method='post' action="records">
  <!-- <input type="text" name = "data[]" placeholder="Id"> -->
  <input type="text" name = "data[]" placeholder="First">
  <input type='text' name = 'data[]' placeholder="Last">
  <input type='text' name = 'data[]' placeholder="Street" >
  <input type='text' name = 'data[]' placeholder="City">
  <input type='text' name = 'data[]' placeholder="State">
  <input type='text' name = 'data[]' placeholder="Zip">
  <input type='text' name = 'data[]' placeholder="Phone">
  <input type='submit'>
</form>
